<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MyTODO Login</title>

    <style>
        .dropbtn {
            background-color: #3498DB;
            color: white;
            padding: 16px 20px;
            width: 177px;
            box-sizing: border-box;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 20px;
        }
    </style>
</head>

<body align="center">


<form method="post" th:action="@{/auth/login}">
    <h2>Вход</h2>
    <p>
        <input type="username" id="username" name="username" placeholder="E-mail" th:value="${username}" required>
    </p>
    <p>
        <input type="password" id="password" name="password" placeholder="Пароль" th:action="${password}" required>
    </p>
    <button class="dropbtn" type="submit">Войти</button>
    <div th:if="${loginError!=null}" th:text="${loginError}" style="color: red">
    </div>
</form>

<a href="/auth/registration">Зарегистрироваться</a>

</body>
</html>